<html>
<head>
    <title>Espace Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Espace Admin</a></h1>
            <p></p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="index">Accueil</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="current"><a href="{{path('admin')}}">Espace admin</a></li>
                {% endif %}


                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('entreprises')}}">Espace membre</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('logout')}}">Déconnexion</a></li>
                {% else %}

                    <li class="current"><a href="{{path('login')}}">Connexion</a></li>
                    <li class="current"><a href="{{path('inscription')}}">Inscription</a></li>
                {% endif %}



            </ul>
        </nav>
    </section>
</div>
<a href="{{path('utilisateurs')}}">
    <input type="submit" value="Gérer les utilisateurs" />
</form>

    <a href="{{path('entreprises')}}">
        <input type="submit" value="Gérer les entreprises" />
        </form>



</body>
</html>

