{% extends 'base.html.twig' %}
{% block title %}Choisir des entreprises{% endblock %}
{% block body %}
    <html>
    <head>
        <title>Escape Velocity by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Liste des entreprises</a></h1>
            <p>A partir de cette page vous pouvez choisir les entreprises qui vous intéressent.</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="index">Accueil</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="current"><a href="{{path('admin')}}">Espace admin</a></li>
                {% endif %}


                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('entreprises')}}">Espace membre</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('logout')}}">Déconnexion</a></li>
                {% else %}

                    <li class="current"><a href="{{path('login')}}">Connexion</a></li>
                    <li class="current"><a href="{{path('inscription')}}">Inscription</a></li>
                {% endif %}



            </ul>
        </nav>

    </section>
    <section id="wrapper">
        <header>
            <div class="inner">
                <h2 align = center>Liste des entreprises</h2>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                            <tr>
                                <th <span style="font-weight:bold">Nom</span></th>
                                <th <span style="font-weight:bold">Ville</span></th>
                                <th <span style="font-weight:bold">Code Postal</span></th>
                                <th <span style="font-weight:bold">Adresse</span></th>
                                <th <span style="font-weight:bold">Tel</span></th>
                                <th <span style="font-weight:bold">Activite</span></th>
                                <th <span style="font-weight:bold">Active</span></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in entreprises %}
                                <tr>
                                    <td align="center">{{ i.nom }}</td>
                                    <td align="center">{{ i.ville }}</td>
                                    <td align="center">{{ i.cp }}</td>
                                    <td align="center">{{ i.adresse }}</td>
                                    <td align="center">{{ i.tel }}</td>
                                    <td align="center">{{ i.activite }}</td>
                                    <td align="center">{{ i.active }}</td>




                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
{% endblock %}