
{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }}!{% endblock %}
{% block body %}
    <html>
    <head>
        <title>EasyStage</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header" class="wrapper">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">EasyStage</a></h1>
                <p>Trouver votre stage en un clic !</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="index">Accueil</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="current"><a href="{{path('admin')}}">Espace admin</a></li>
                    {% endif %}


                    {% if is_granted('ROLE_USER') %}
                        <li class="current"><a href="{{path('entreprises')}}">Espace membre</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('logout')}}">Déconnexion</a></li>
                    {% else %}

                        <li class="current"><a href="{{path('login')}}">Connexion</a></li>
                        <li class="current"><a href="{{path('inscription')}}">Inscription</a></li>
                    {% endif %}



                </ul>
            </nav>

        </section>

        <!-- Intro -->
        <section id="intro" class="wrapper style1">
            <div class="title">by Peanuts</div>
        </section>


    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    </body>
    </html>
{% endblock %}
