{% extends 'base.html.twig' %}
{% block title %}Traitement des élèves{% endblock %}
{% block body %}
    <nav id="nav">
        <ul>
            <li class="current"><a href="index">Accueil</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="current"><a href="{{path('admin')}}">Espace admin</a></li>
            {% endif %}


            {% if is_granted('ROLE_USER') %}
                <li class="current"><a href="{{path('membre')}}">Espace membre</a></li>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <li class="current"><a href="{{path('logout')}}">Déconnexion</a></li>
            {% else %}

                <li class="current"><a href="{{path('login')}}">Connexion</a></li>
                <li class="current"><a href="{{path('inscription')}}">Inscription</a></li>
            {% endif %}



        </ul>
    </nav>

        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2 align ='center'>Modification d'un utilisateur</h2>
                </div>
            </header>
            <div class="wrapper">
                <div class="inner">
                    <section>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <br /><button>Envoyer</button>
                        {{ form_end(form) }}
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
