{% extends 'base.html.twig' %}
{% block title %}Gérer les utilisateurs{% endblock %}
{% block body %}
    <html>
    <head>
        <title>Escape Velocity by HTML5 UP</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
<body class="homepage is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="index.html">Gérer les utilisateurs</a></h1>
            <p>A partir de cette page vous pouvez gérer les utilisateurs</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="index">Accueil</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="current"><a href="{{path('admin')}}">Espace admin</a></li>
                {% endif %}


                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('entreprises')}}">Espace membre</a></li>
                {% endif %}

                {% if is_granted('ROLE_USER') %}
                    <li class="current"><a href="{{path('logout')}}">Déconnexion</a></li>
                {% else %}

                    <li class="current"><a href="{{path('login')}}">Connexion</a></li>
                    <li class="current"><a href="{{path('inscription')}}">Inscription</a></li>
                {% endif %}



            </ul>
        </nav>

    </section>
        <section id="wrapper">
            <header>
                <div class="inner">
                    <h2 align = center>Liste des utilisateurs</h2>
                </div>
            </header>
            <div class="wrapper">
                <div class="inner">
                    <section>
                        <div class="table-wrapper">
                            <table class="alt">
                                <thead>
                                <tr>
                                    <th <span style="font-weight:bold">Nom</span></th>
                                    <th <span style="font-weight:bold">Pr&eacute;nom</span></th>
                                    <th <span style="font-weight:bold">Classe</span></th>
                                    <th <span style="font-weight:bold">Age</span></th>
                                    <th <span style="font-weight:bold">Email</span></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in utilisateurs %}
                                    <tr>{ i.email }}</td>
                                        <td><a href="{{ path('modifier_utilisateur', {'id': i.id}) }}">
                                                <span class="icon fa-edit"></span></a></td>
                                        <td><a href="{{ path(
                                        <td align="center">{{ i.nom }}</td>
                                        <td align="center">{{ i.prenom }}</td>
                                        <td align="center">{{ i.classe }}</td>
                                        <td align="center">{{ i.age }}</td>
                                        <td align="center">{'supprimer_utilisateur', {'id': i.id}) }}">
                                                <span class="icon fa-eraser"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5"></td>
                                    <td>Total : 0</td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
{% endblock %}